:root {
    --bg-color: #FEEAE9;
    --red: #FF136F;
    --gradient:linear-gradient(to bottom,  #FF589B 0%, #FF136F 100%);
}
.container {
    margin-bottom: 100px;
}
.carousel {
    background-color: var(--bg-color);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.carousel-item {
    padding: 20px 20px;
}
.price {
    color: var(--red);
}
.buy-now-btn {
    background: linear-gradient(to bottom,  #FF589B 0%, #FF136F 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.categories h2 {
    color: #fff;
}
.categories img {
    width: 100px;
}

.cat1, .cat2, .cat3 {
    padding: 10px 30px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.cat1 {
    background-color: orange;
}
.cat2 {
    background-color: orchid;
}
.cat3 {
    background-color: blue;
}

.card {
    border: none;
    box-shadow: 5px 5px 10px lightgrey;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

#subscribe {
    background-color: var(--bg-color);
}
footer {
    text-align: center;
}